.header {
  border-bottom: 1px solid #ececec;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
    }
  }
}

.navigation {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;

    &__list {
      display: flex;
      margin-left: 88px;
    }

    &__item:not(:first-child) {
      margin-left: 50px;
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      color: $title-light-theme-color;

      transition-property: color;
      transition-duration: $transition-duration;
      transition-timing-function: $transition-function;

      &:hover,
      &:focus {
        color: $accent-color;
      }

      &--current {
        display: flex;
        flex-flow: column;
        position: relative;
        color: $accent-color;
      }
      &--current:after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;

        position: absolute;
        bottom: -1px;

        background: $accent-color;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    &__list {
      margin-left: 93px;
    }
  }
}

.address {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop)-1px) {
    &__item:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item:first-child {
      margin-right: 30px;
    }
  }
}

.contact {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $description-color;

  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &__icon-mail,
  &__icon-tel {
    fill: #757575;
    margin-right: 8px;

    transition-property: fill;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-function;

    .contact:hover &,
    .contact:focus & {
      fill: #2196f3;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.143;
    &__icon-mail {
      width: 16px;
      height: 12px;
    }

    &__icon-tel {
      width: 10px;
      height: 16px;
    }
  }
}

.menu-btn {
  border-style: none;
  background-color: $card-bg;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
