.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $title-dark-theme-color;
  cursor: pointer;

  padding: 10px;
  min-width: 200px;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  background: $accent-color;

  &__icon {
    margin-left: 10px;
    fill: $card-bg;
  }
}
