$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$title-dark-theme-color: #ffffff;
$title-dark-theme-color-alpha: rgba(255, 255, 255, 0.6);
$title-light-theme-color: #212121;
$description-color: #757575;
$accent-color: #2196f3;
$card-bg: #ffffff;
$ligth-bg: #f5f4fa;
$icons-light-theme: #afb1b8;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
